 <img class="company-logo" src="http://imgur.com/sZlvf44.png" width="1250" height="500"></img>
   
    
    <ul class="card">
<% @todos.each do |todo| %>
  <li>
    <input type="checkbox" name=""/>
    <a href="show/1"><%= todo.description %></a>

  </li>
<% end %>
</ul>

<div id="new-todo-block">
<a href="/todo/new" class="button add-new-todo-button" id="add-new-todo-button">Add a todo</a>
</div>